*.ipr
*.iws
*.iml
.classpath
.gradle*
.gradle/**
build/*
out
.idea
p2p.jar
draft.story
chromedriver.log
.classpath
.gitignore.swp
.project
.settings/*
*.ids
gradle.properties
*.log
*.log.*
*.bak
cango*
bin/*
.download/*

/bin